.warna{
    color:white;
    background-color: blueviolet;
    font-size: 24pt;
}
#firstname {
    background-color: yellow;
}

* {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }

  a[target] {
    background-color: plum;
  }

  [title~=flower] {
    border: 20px solid green;
  }


h1 {
    color: royalblue;
    font-size: 24pt;
}

p.intro {
    background-color: yellow;
}

div > p {
    background-color: hotpink;
}

p ~ ul {
    background: limegreen;
}

a[target=_blank] {
    background-color: yellow;
}

input[type=number], input[type="text"] {
    background: palevioletred;
}

[title~=flower] {
    border: 25px solid purple;
}

[lang|=en] {
    background: white;
}

div[class^="test"] {
    background: yellowgreen;
}

div[class$="test"] {
    background: burlywood;
}

div[class*="test"] {
    background: coral;
}

a:active {
    background-color: lightskyblue;
}

p::after { 
    content: " - Remember this";
}

p::before {
    content: "Read this -";
}

input:checked {
    height: 50px;
    width: 50px;
}

input:focus {
    background-color: cyan;
}

